
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successful</title>
</head>
<body>

    <h1 style="font-size:25px; display:flex ; justify-content: center">Succesful</h1>
</body>
</html>
